/*!
 * ベースのスタイル
 */

body {
  background: #F6D8D9;
  margin: 0;
  padding: 0;
  text-align: center;
}

body > p {
  text-align: center;
  background: rgba(255,255,255,.4);
  padding: 10px;
  margin: 0;
  border-bottom: 3px dotted rgba(255,0,0,.3);
}

body > img {
  width: 100%;
  max-width: 700px
}
