.bookshelf {
  font-size: 500%;
  white-space: nowrap;
  overflow-x: hidden;
  margin: .5em 0 0;
  word-spacing: -.25em;
}

@media only screen and (min-width: 640px) {
  .bookshelf {
    font-size: 700%;
  }
}

@media only screen and (min-width: 720px) {
  .bookshelf {
    font-size: 900%;
  }
}
